@import url("https://fonts.googleapis.com/css?family=Arvo:400,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");

:root {
  --red: #ea5c5a;
  --orange: #ef8b3f;
  --yellow: #f8dd74;
  --aqua: #7afae3;
  --light-blue: #a0d0f8;
  --blue: #3e85da;
  --navy: #002147;
  --purple: #7a59e4;

  --spacing: 20px;
  --section-height: calc(100vh - 200px);
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--red);
}

* {
  font-family: "Open Sans", sans-serif;
  color: white;
}

h1,
h2,
h3 {
  font-family: "Arvo", sans-serif;
}

h1 {
  margin: var(--spacing) 0;
  color: var(--aqua);
  font-size: 100px;
  letter-spacing: 2px;
}

h2 {
  margin: 10px 0;
  font-size: 50px;
  letter-spacing: 1px;
}

h3 {
  margin: 5px 0 0;
  font-size: 18px;
  letter-spacing: 0.5px;
}

br {
  margin-bottom: 10px;
}

a {
  color: var(--purple);
  text-decoration: none;
}

a:active {
  color: grey;
}

nav {
  position: absolute;
  top: var(--spacing);
  left: calc(var(--spacing) * 4);

  display: flex;
  flex-direction: row;
}

nav.floating {
  position: fixed;
  background-color: rgba(20, 20, 20, 0.8);
  top: 10px;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  margin-right: calc(var(--spacing) * 2);
}

nav a {
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 1px;
}

nav a,
nav a:visited {
  color: white;
}

nav a.active {
  border-bottom: 3px solid white;
}

nav a:hover,
nav a:focus {
  color: var(--purple);
  border-color: var(--purple);
  outline: none;
}

section {
  min-height: var(--section-height);
  padding: calc(var(--spacing) * 4);
  border-bottom: 10px solid rgb(88, 88, 88);
}

section:last-child {
  border-bottom: none;
}

section.experience {
  display: flex;
  flex-direction: row;
}

section#intro {
  background-color: var(--red);
  border-color: var(--aqua);
  padding-top: calc(var(--spacing) * 8);
  min-height: calc(var(--section-height) - (var(--spacing) * 2));
}

.company {
  flex: 1;
  width: 300px;
  margin-right: 120px;
}

.company-logo {
  max-width: 80%;
  margin-bottom: 20px;
}

.role {
  flex: 3;
}

.role h2 {
  margin-bottom: 0;
}

.role-duration {
  margin: 0 0 40px;
  font-size: 14px;
}

.role-description {
  max-width: 550px;
}

section#school-space {
  background-color: var(--blue);
  border-color: var(--orange);
}

section#school-space .company-logo {
  border: 4px solid white;
  border-radius: 50%;
}

section#school-space h2 {
  color: var(--orange);
}

section#twsu {
  background-color: var(--purple);
  border-color: var(--yellow);
}

section#twsu h2 {
  color: var(--yellow);
}

section#gousto {
  background-color: var(--red);
  border-color: var(--aqua);
}

section#gousto .company-logo {
  margin: 15px 0 30px;
}

section#gousto h2 {
  color: var(--aqua);
}

section#oxford {
  background-color: var(--light-blue);
}

section#oxford p,
section#oxford h3 {
  color: var(--navy);
}

section#oxford h2 {
  color: var(--red);
}

.subheading {
  margin: 40px 0;
  color: white;
  font-size: 25px;
}

@media only screen and (max-width: 1023px) {
  section {
    padding: 40px;
  }

  .company {
    margin-right: 60px;
  }
}

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 80px;
  }

  .subheading {
    font-size: 20px;
  }

  nav {
    left: var(--spacing);
  }

  section {
    padding: var(--spacing);
  }

  .company {
    margin-right: 30px;
  }
}

@media only screen and (max-width: 540px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 20px;
  }

  .subheading {
    font-size: 15px;
  }

  nav,
  nav.floating {
    top: 5px;
    left: 5px;
    padding: calc(var(--spacing) / 2);
    font-size: 12px;
  }

  nav li {
    margin-right: var(--spacing);
  }

  section {
    padding: 40px 10px;
    min-height: calc(85vh - 80px);
  }

  section.experience {
    flex-direction: column;
    align-items: center;
  }

  .company {
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .company-logo {
    max-width: 50%;
  }

  .role {
    text-align: center;
  }

  .role-duration {
    margin-bottom: 20px;
  }

  .role-description {
    width: 100%;
  }
}
