.nav {
    position: absolute;
    top: var(--spacing);
    left: calc(var(--spacing) * 4);

    display: flex;
    flex-direction: row;

    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        margin-right: calc(var(--spacing) * 2);
    }

    a {
        text-transform: uppercase;
        letter-spacing: 1px;
        padding-bottom: 1px;

        &:visited {
            color: white;
        }

        &.active {
            border-bottom: 3px solid white;
        }

        &:hover,
        &:focus {
            color: var(--purple);
            border-color: var(--purple);
            outline: none;
        }
    }

    &.floating {
        position: fixed;
        background-color: rgba(20, 20, 20, 0.8);
        top: 10px;
    }

    @media only screen and (max-width: 767px) {
        left: var(--spacing);
    }

    @media only screen and (max-width: 540px) {
        &,
        &.floating {
            top: 5px;
            left: 5px;
            padding: calc(var(--spacing) / 2);
            font-size: 12px;
        }

        li {
            margin-right: var(--spacing);
        }
    }
}
